.post {
  padding: 20px 20px 0;
  margin: 20px 0 0;
  border-top: 1px solid #eee;
}

.post:first-child {
  margin-top: 0;
  padding-top: 0;
  border: 0;
}

.post p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 20px;
}

.post button {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  color: #9ece61;
  cursor: pointer;
}

.post button img {
  margin-right: 5px;
}

.post button:hover {
  opacity: 0.7;
}
